/*
Theme Name: TheGem Child
Description: Multi-Purpose Wordpress Theme
Author: Codex Themes.
Theme URI: http://codex-themes.com/thegem/
Author URI: http://codex-themes.com/thegem/
Template: thegem
Version: 1.0
Tags: one-column, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, theme-options, translation-ready, dark, light
License: GNU General Public License
License URI: license.txt
*/

/* change the image for the zigzag divider */
.gem-divider-style-6 {
	border-top: 0;
	height: 10px;
    background: url('images/divider-zigzag-brown.png') repeat-x 50% 0;
}

/* remove the 1px border of the footer (footer is used for the store pages) */

#footer-nav {
	border-top: 0px;
}

/* lowers the z-index of the navbar, so that it's not on top of the product filter in the menus page */
#site-header .header-main {
	z-index: 5; 
}
