
.products .product-image .woo-product-overlay {
	background: rgba(243,146,0,0.5); /*Before: rgba(0, 188, 212, 0.3); */
}

/*make the tables in "my-account" (both WooCommerce & Dokan Tables) scrollable in mobile devices */
 @media only screen and (max-width: 479px) {
	table.shop_table, table.dokan-table {
		display: block;
		width: auto;
		overflow-x: scroll;
	}
}

