 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* CSS copied from \woocommerce-bookings\assets\css\frontend.css  */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Change background color of calendar date picker       */
.wc-bookings-date-picker .ui-datepicker td.bookable a {
    background-color: var(--tct-orange)!important;
    background-image: none!important;
    border-color: rgba(0, 0, 0, .1)!important;
    color: #fff!important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1)
}
.wc-bookings-date-picker .ui-datepicker td.partial_booked a {
    background-color: var(--tct-orange)!important;
    background-image: none!important;
    border-color: rgba(0, 0, 0, .1)!important;
    color: #fff!important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1
}
.wc-bookings-date-picker .ui-datepicker td.partial_booked a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2.5em solid var(--tct-brown);
    border-right: 2.5em solid transparent;
    z-index: -10;
    opacity: .75
}
.wc-bookings-date-picker .ui-datepicker td.ui-datepicker-current-day a {
    background: var(--tct-orange-hover)!important;
    opacity: 1!important
}
.wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default {
    background: var(--tct-orange-hover)!important;
    color: #fff
}

/* Change Background colors of time picker */

.wc-bookings-booking-form .block-picker li a.selected {
    background: var(--tct-brown)!important;
    color: #fff!important
}
.wc-bookings-booking-form .block-picker li:nth-child(odd) a {
    background: #fff
}
.wc-bookings-booking-form .block-picker li:nth-child(odd) a:focus,
.wc-bookings-booking-form .block-picker li:nth-child(odd) a:hover {
    background: var(--tct-brown);
    color: #fff
}
.wc-bookings-booking-form .block-picker li:nth-child(even) a {
    background: var(--tct-brown-light)
}
.wc-bookings-booking-form .block-picker li:nth-child(even) a:focus,
.wc-bookings-booking-form .block-picker li:nth-child(even) a:hover {
    background: var(--tct-brown);
    color: #fff
}