
/* Change Colors for Dokan Vendor Dashboard */

  .dokan-dashboard .dokan-dash-sidebar {
    background-color: var(--tct-grey);
  }

  .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu {
    background: var(--tct-grey);
  }

  .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
    background: var(--tct-orange);
    color: var(--tct-brown);
  }
/*   .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links:hover {
    background: none !important;
  } */
/*   .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a {
    border-right: 1px solid #454545;
  } */
/*   .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:hover {
    background: #f05025;
    color: #fff;
  } */
  /* .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:last-child {
    border-right: none;
  } */
  .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active {
    /* position: relative; */
    background: var(--tct-orange);
  }
/*   .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active:after {
    border-color: transparent #fff transparent transparent;
    border-left-color: #fff;
  } */
  /*
  .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu {
    background: #fff;
    border-top: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
  }
  .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu a {
    color: #333;
  }
  .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu a:hover {
    background: #f37655;
    color: #fff;
  }
  .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu li {
    border-bottom: 1px solid #ccc;
  }*/

  .dokan-dashboard .dokan-dashboard-content {
    padding: 20px 0 20px 25px;
  }

  input[type="submit"].dokan-btn-theme,
  a.dokan-btn-theme,
  .dokan-btn-theme {
    color: #ffffff;
    background-color: var(--tct-orange);
    border-color: var(--tct-orange);
  }
  input[type="submit"].dokan-btn-theme:hover,
  a.dokan-btn-theme:hover,
  .dokan-btn-theme:hover,
  input[type="submit"].dokan-btn-theme:focus,
  a.dokan-btn-theme:focus,
  .dokan-btn-theme:focus,
  input[type="submit"].dokan-btn-theme:active,
  a.dokan-btn-theme:active,
  .dokan-btn-theme:active,
  input[type="submit"].dokan-btn-theme.active,
  a.dokan-btn-theme.active,
  .dokan-btn-theme.active,
  .open .dropdown-toggleinput[type="submit"].dokan-btn-theme,
  .open .dropdown-togglea.dokan-btn-theme,
  .open .dropdown-toggle.dokan-btn-theme {
    color: #ffffff;
    background-color: var(--tct-orange-hover);
    border-color: var(--tct-orange-hover);
  }

   input[type="submit"].dokan-btn-theme.disabled,
  a.dokan-btn-theme.disabled,
  .dokan-btn-theme.disabled,
  input[type="submit"].dokan-btn-theme[disabled],
  a.dokan-btn-theme[disabled],
  .dokan-btn-theme[disabled],
  fieldset[disabled] input[type="submit"].dokan-btn-theme,
  fieldset[disabled] a.dokan-btn-theme,
  fieldset[disabled] .dokan-btn-theme,
  input[type="submit"].dokan-btn-theme.disabled:hover,
  a.dokan-btn-theme.disabled:hover,
  .dokan-btn-theme.disabled:hover,
  input[type="submit"].dokan-btn-theme[disabled]:hover,
  a.dokan-btn-theme[disabled]:hover,
  .dokan-btn-theme[disabled]:hover,
  fieldset[disabled] input[type="submit"].dokan-btn-theme:hover,
  fieldset[disabled] a.dokan-btn-theme:hover,
  fieldset[disabled] .dokan-btn-theme:hover,
  input[type="submit"].dokan-btn-theme.disabled:focus,
  a.dokan-btn-theme.disabled:focus,
  .dokan-btn-theme.disabled:focus,
  input[type="submit"].dokan-btn-theme[disabled]:focus,
  a.dokan-btn-theme[disabled]:focus,
  .dokan-btn-theme[disabled]:focus,
  fieldset[disabled] input[type="submit"].dokan-btn-theme:focus,
  fieldset[disabled] a.dokan-btn-theme:focus,
  fieldset[disabled] .dokan-btn-theme:focus,
  input[type="submit"].dokan-btn-theme.disabled:active,
  a.dokan-btn-theme.disabled:active,
  .dokan-btn-theme.disabled:active,
  input[type="submit"].dokan-btn-theme[disabled]:active,
  a.dokan-btn-theme[disabled]:active,
  .dokan-btn-theme[disabled]:active,
  fieldset[disabled] input[type="submit"].dokan-btn-theme:active,
  fieldset[disabled] a.dokan-btn-theme:active,
  fieldset[disabled] .dokan-btn-theme:active,
  input[type="submit"].dokan-btn-theme.disabled.active,
  a.dokan-btn-theme.disabled.active,
  .dokan-btn-theme.disabled.active,
  input[type="submit"].dokan-btn-theme[disabled].active,
  a.dokan-btn-theme[disabled].active,
  .dokan-btn-theme[disabled].active,
  fieldset[disabled] input[type="submit"].dokan-btn-theme.active,
  fieldset[disabled] a.dokan-btn-theme.active,
  fieldset[disabled] .dokan-btn-theme.active {
    background-color: var(--tct-orange-hover);
    border-color:var(--tct-orange-hover);
  }
/*  
  input[type="submit"].dokan-btn-theme .badge,
  a.dokan-btn-theme .badge,
  .dokan-btn-theme .badge {
    color: #f05025;
    background-color: #fff;
  } */

  div.dokan-booking-wrapper ul.dokan_tabs .active{
     border-top : 2px solid var(--tct-brown);
}

/*************************************************************/
/* Change colors & paddings for Dokan (Cook) Store */
/*************************************************************/

div.dokan-widget-area {
  padding-left:30px;
  padding-bottom:100px;
}

/*************************************************************/
/* Force Attributes to be displayed when editing Menus
/*************************************************************/
.tct_show_attributes {
  display: block !important;
}

/*************************************************************/
/* Smaller explanation messages for "Persons" and "Ressources" in the Edit-Menu page 
/*************************************************************/
#message p {
  font-size: 14px;
  line-height: 150%;
}

.tct-woocommerce-message {
	padding: 10px 50px 10px 80px;
	position: relative;
}
.tct-woocommerce-message strong {
	font-weight: normal;
}
.tct-woocommerce-message:before {
	position: absolute;
	left: 25px;
	top: 40%;
	font-size: 20px;
	font-family: 'thegem-icons';
	content: '\e621';
	font-weight: normal;
	text-indent: 1px;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-top: -25px;
}

.toolbar h3 {
  line-height: 18px;
  font-size: 14px;
  margin: 10px 0;
}

.woocommerce_booking_person h4 {
  line-height: 18px;
  font-size: 14px;
  margin: 10px 0;
}

/* Fix Calendar Datepicker overflowing  */
/* Detected on datepicker to set Cook's availability in Dokan-Cook-Dashboard */
.ui-datepicker-calendar td {
  padding: 2px 2px !important;
}

/* Make errors in registration form be red */
label.error {
  color: #f44336 !important;
}


/* Remove Dokan Side Bar in Cook Page for Mobile Devices */
@media only screen and (max-width: 600px) {
  .dokan-store-sidebar {
    display: none;
  }

  .dokan-single-store.dokan-w8 {
    width: 100%;
  }

  .dokan-single-store .profile-frame .profile-info-box .profile-info-img {
    display: none;
  }

  .dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info .store-social-wrapper {
    display: none;
  }

  .dokan-single-store .profile-frame .profile-info-box.profile-layout-layout1 .profile-info-summery-wrapper {
    height: 12em;
  }

  #reviews div {
    padding-left: 5px;
  }

}


/* Dim down buttons when disabled (e.g.: "Register" when T&C not accepted yet in registration page*/
/*button.gem-button:disabled, button[disabled]{*/
button.gem-button.gem-button-style-outline:disabled, button[disabled]{
  background-color: #e8e2df;
  opacity: 0.4;
}

/* Common links in the Cook's dashboard are 4 instead of 3, so each should be 25% wide */
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a {
  width: 25%;
  padding: 6% 9.7%;
}

/* Correct Button colors*/
.woocommerce_booking_resource .remove_booking_resource, .woocommerce_booking_person button{
  border: 1px solid var(--tct-orange-hover);
  background-color: var(--tct-orange);
}

/* Cook Name in "Resource assignment" for Product-edit-page*/
.tct_resource_cook_name {
  color: var(--tct-orange);
  line-height: 18px;
  font-size: 14px;

}

/* Padding for "other options" section in the edit-menu page for cooks */
.dokan-section-content {
    padding: 15px;
}

/* small notes to explain fields in the dashboard*/ 
.tct-small-note{
  font-size: 0.7vw;
  font-style: italic;
}