

/* Change colors & Font Family in the Cart*/
.woocommerce .woocommerce-cart-form .actions .submit-buttons .update-cart button {
    background: var(--tct-orange);
}

.woocommerce .woocommerce-cart-form .actions .submit-buttons .update-cart button:hover {
    border-color: var(--tct-orange) ;
    background-color: transparent ;
    color: var(--tct-orange) ;
}

.woocommerce .woocommerce-cart-form .actions .submit-buttons .checkout-button-button .checkout-button {
    background: var(--tct-brown) ;
}

.woocommerce .woocommerce-cart-form .actions .submit-buttons .checkout-button-button .checkout-button:hover {
    border-color:  var(--tct-brown) ;
    background-color: transparent ; 
    color:  var(--tct-brown) ;
}

.woocommerce .shop_table td.product-price,
.woocommerce .shop_table td.product-subtotal,
.woocommerce .wishlist_table .product-info .product-info-content .product-price {
    font-family: 'Lato' ;
}

.woocommerce .woocommerce-checkout .checkout-payment .shop_table td.product-total .amount {
    font-family: 'Lato' ;
    color: var(--tct-brown) ;
}

.woocommerce .shop_table tbody tr td,
.woocommerce .woocommerce-checkout .shop_table.woocommerce-checkout-payment-total th,
.woocommerce .woocommerce-checkout .shop_table.woocommerce-checkout-payment-total td,
.woocommerce .woocommerce-checkout .shop_table tfoot > tr > td {
    border-color: var(--tct-brown-light) ;
}


.woocommerce .cart_totals table th,
.woocommerce .cart_totals table td {
    border-color: var(--tct-brown-light) ;
}


.woocommerce .shop_table tr.cart_item:nth-child(2n) td {
    background: var(--tct-orange-extra-light) ;
}


.woocommerce .shop_table thead tr th,
.product-info .product-info-header > div {
    background: var(--tct-orange-light) ;
    border-color: var(--tct-orange-light) ;
    color: var(--tct-brown) ;
}

/* Background Colors for "-" & "+" Buttons in Cart table, come from custom.css file */
.shop_table .quantity .plus, .shop_table .quantity .minus {
    background: var(--tct-orange-light) ;
}


.woocommerce .cart_totals table th,
.woocommerce .cart_totals table td {
    border-color: var(--tct-brown-light);
}


.woocommerce .cart_totals table th {
    background-color: var(--tct-orange-extra-light) ;
    font-family: 'Lato' ;
    color: var(--tct-brown) ;
}

.woocommerce .cart_totals table td .amount {
    font-family: 'Lato' ;
    color: var(--tct-brown) ;
}

.woocommerce .cart_totals table tr.order-total td .amount {
    font-family: 'Lato' ;
    color: var(--tct-brown) ;
}

.woocommerce .shop_table tr td.product-remove .remove {
    background: #ffffff ;
    color: #f44336 ;
}

.woocommerce input[type="text"].coupon-code {
    color: var(--tct-brown) ;
    background: var(--tct-orange-extra-light) ;
}

/* mini cart */
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li .quantity,
#primary-menu.no-responsive > li.menu-item-cart > .minicart .total,
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li.empty {
    font-family: 'Lato' ;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li a:hover,
.hamburger-minicart > .minicart ul li a:hover {
	color: var(--tct-orange);
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li .minicart-image:after,
.hamburger-minicart > .minicart ul li .minicart-image:after {
    background: rgba(243, 146, 0, 0.3) !important;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart .total,
#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons,
.hamburger-minicart > .minicart .total,
.hamburger-minicart > .minicart .buttons {
	background-color: var(--tct-orange-light);
}

/* Change colors in Checkout */
.checkout-steps .checkout-step.active,
.checkout-steps .checkout-step.before-active:before,
.checkout-steps .checkout-step.before-active:after {
    background: var(--tct-orange) ;
    color: var(--tct-brown) ;
}

.checkout-steps .checkout-step,
.checkout-steps .checkout-step:before,
.checkout-steps .checkout-step:after {
    background: var(--tct-orange-light) ;
    color: var(--tct-brown) ;
}

.woocommerce .checkout-signin .checkout-create-account button {
    background-color: var(--tct-brown)  ;
}

.woocommerce .checkout-signin .checkout-create-account button:hover {
    background-color: var(--tct-orange-hover) ;
}

.checkout-navigation-buttons .checkout-prev-step button {
    border-color: var(--tct-brown) ;
    color: var(--tct-brown) ;
}

.checkout-navigation-buttons .checkout-prev-step button:hover {
    background: var(--tct-brown) ;
    color: #ffffff ;
}

.woocommerce .woocommerce-checkout .shop_table.woocommerce-checkout-payment-total th {
    font-family: 'Lato' ;
    /*color: #5f727f; */
}

.woocommerce .woocommerce-checkout .shop_table.woocommerce-checkout-payment-total .order-total td .amount {
    font-family: 'Lato' ;
    color: var(--tct-brown) ;
}

.woocommerce .woocommerce-checkout .shop_table.woocommerce-checkout-payment-total .cart-subtotal td .amount {
    font-family: 'Lato' ;
    /*color: #3c3950;*/
}
/*
.woocommerce .woocommerce-checkout .shop_table.woocommerce-checkout-payment-total .shipping td {
    color: #99a9b5;
}
*/
.woocommerce .woocommerce-checkout #order_review .woocommerce-checkout-payment .payment_methods .payment_box {
    color: var(--tct-brown) ;
    background-color: var(--tct-orange-light) ;
}

.woocommerce .woocommerce-checkout #order_review .woocommerce-checkout-payment .payment_methods .payment_box:before {
    color: var(--tct-brown) ;
    background-color: var(--tct-orange-extra-light) /*#84b2c0;*/

}
/*
.woocommerce .woocommerce-checkout #order_review .woocommerce-checkout-payment .payment_methods li {
    border-color: #dfe5e8;
}
*/
.checkout-navigation-buttons .checkout-place-order button {
    background-color: var(--tct-brown) ;
    border-color: var(--tct-brown) ;
}

.checkout-navigation-buttons .checkout-place-order button:hover {
    background-color: #ffffff ;
    color: var(--tct-brown) ;
}
/*
.woocommerce .woocommerce-checkout #order_review .woocommerce-checkout-payment .terms .checkbox-sign:before,
.woocommerce .checkout-login-remember .checkbox-sign:before,
.woocommerce .woocommerce-checkout #ship-to-different-address .checkbox-sign:before,
.woocommerce .create-account-popup .checkbox-sign:before,
.woocommerce .wishlist_table .checkbox-sign:before {
    color: #3c3950;
}

.woocommerce .checkout-login .login .form-row label,
.lost_reset_password .form-row label,
.woocommerce .my-account-signup .register .form-row label {
    color: #5f727f;
}
*/

/************************************************************/
/* 				CHANGES TO WOO COMMERCE-CUSTOM CSS 			*/
/* Classes copied from file "thegem-woocommerce-custom.css" */
/************************************************************/

/* Breadcrums in Title pages (Cart, My-Account, etc) */
.woocommerce-cart .custom-header .breadcrumbs .current,
.woocommerce-checkout .custom-header .breadcrumbs .current,
.woocommerce-wishlist .custom-header .breadcrumbs .current,
.woocommerce-account .page-title-block .breadcrumbs .current {
    color: #f39200 !important; 
    border-color: #f39200 !important;
}

.woocommerce-cart .custom-header .breadcrumbs span a,
.woocommerce-checkout .custom-header .breadcrumbs span a,
.woocommerce-wishlist .custom-header .breadcrumbs span a,
.woocommerce-account .page-title-block .breadcrumbs span a {
    color: #683c10 !important;
}


.woocommerce-cart .custom-header .breadcrumbs span a:hover,
.woocommerce-checkout .custom-header .breadcrumbs span a:hover,
.woocommerce-wishlist .custom-header .breadcrumbs span a:hover,
.woocommerce-account .page-title-block .breadcrumbs span a:hover {
    color: #f39200 !important;
}

.woocommerce-cart .custom-header .breadcrumbs .divider .bc-devider:before,
.woocommerce-checkout .custom-header .breadcrumbs .divider .bc-devider:before,
.woocommerce-wishlist .custom-header .breadcrumbs .divider .bc-devider:before,
.woocommerce-account .page-title-block .breadcrumbs .divider .bc-devider:before {
    color: #683c10 !important;
}