/* Additional CSS for The Cook Town */
:root {
    --tct-orange: #f39200;
    --tct-brown: #683c10;
    --tct-grey: #575656;
    --tct-orange-extra-light: #FFFCFA; /*rgba(248, 241, 238); /* HEX: #f8f1ee // Old: #e8e2df*/
    --tct-orange-light: #F7ECE8;  /* #f6dcd0;*/
    --tct-orange-hover: #ba7000;
    --tct-brown-light: #e8e2df; /*#a69b90;*/
    
  }

/* ellipsis is used for addint "..." to an overflowing text (only if the text is one line) */
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cook-avatar img {
    border-radius: 75px;
}
/*
.cook-product-tab {  
}
*/

/* remove the lines for lists in the footer */
/* copied from \themes\thegem\css\thegem-new-css.css */
.site-footer .widget_text  ul li {
	list-style: none;
	float: left;  padding-left: 14px;
	padding: 8px 0;
	margin-left: 13px;
    border-bottom: none;
    width: 100%;
}

/* Change color of Product Filter Price Range Bars */
/* File ..\plugins\prdctfltr\lib\images\sprite-skin-flat.png replaced to orange */
/* Original File renamed to sprite-skin-flat-original.png (was red) */

.pf_rngstyle_flat .irs-from,
.pf_rngstyle_flat .irs-single,
.pf_rngstyle_flat .irs-to {
    background:var(--tct-orange) !important;
}
.pf_rngstyle_flat .irs-from:after,
.pf_rngstyle_flat .irs-single:after,
.pf_rngstyle_flat .irs-to:after {
    border-top-color:var(--tct-orange) !important;
}

.tct_min_pers {
    font-style: italic;
    font-size: 10px;
}

/* Set padding for the complete content area of each page */
.block-content {
    padding: 50px 0 100px;
}

/* Set padding for Title Areas */
.page-title-block {
    padding: 40px 0;
}

/* Set margin for "Product Filter" (Plugin) */
.prdctfltr_wc {
    margin-bottom: 0px !important;
}

.prdctfltr_wc .prdctfltr_filter_title {
    margin-bottom: 0px !important;
}

/* Highlight words in the home-page main text */
.tct-highlight h2{
    line-height: 36px;
}

.tct-highlight h2 strong{
    line-height: 36px;
    font-size: 34px;
}

.tct-highlight h3{
    line-height: 26px;
	font-size: 22px;
}

.tct-highlight h3 strong{
    line-height: 26px;
    font-size: 28px;
}

.home-book-a-cook-button{
    margin-top:-20px;
}

/* fix the burger menu in mobile */
@media (max-width: 767px) {
#site-header .site-title {
    max-width: 100px;
}
}

/* Change color of the quotes for testimonials */
.gem-testimonials.style1  .gem-testimonial-wrapper:after,
.gem-testimonials.style2 .gem-testimonial-wrapper p:after {
	color: var(--tct-brown);
}

/* Fade borders of images with white background*/
.tct-faded-white {
    position: relative;
    display: inline-block;
    color: white;
}
.tct-faded-white:after {
    --blur-radius: 8px;
    --spread-radius: 10px ;

        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 var(--blur-radius) var(--spread-radius);
}

/* Fade borders of images with light orange background */

.tct-faded-light-orange {
    position: relative;
    display: inline-block;
    color:#fdf2e0;
}
.tct-faded-light-orange:after {
    --blur-radius: 8px;
    --spread-radius: 10px ;

        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 var(--blur-radius) var(--spread-radius) #fdf2e0;
}

/* Change the color of the breadcrums under the pages Title */
.breadcrumbs .current {
    color: #f39200;
    border-bottom: 3px solid #f39200;
}

.breadcrumbs a  {
    color: #683c10;
}

.breadcrumbs a:hover  {
    color: #f39200;
}

.bc-devider::before {
    color: #683c10;
}

/* Change background color for page-title area */
/* Classes & ID copied from file "thegem-widgets.css" */
#page,
.widget_submenu  ul ul ul,
.widget_nav_menu  ul ul ul,
.widget_pages ul ul ul,
.widget_categories ul ul ul,
.widget_product_categories ul ul ul {
	/*background-color: rgba(248, 241, 238, 0.7);*/
        background-color: #ffffff;
}

/* Note text (used in product pages for important information for customers */
.tct-notes {
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
}

/* Change the color of the "before" icon for Reviews in menu pages */ 

.comment-reply-title:before {
	color: #f39200;
}
/* Title size in mobile versions */

@media (max-width: 1000px) {
	h1,
	.title-h1 {
		font-size: 5.2vw;
    }
    
	h1,
	.title-h1 {
		line-height: 6.4vw;
    }
    
	h2,
	.title-h2,
	.pricing-table-style-5  .pricing-price-title,
	.pricing-table-style-6 .pricing-price-title,
	.pricing-table-style-6 .pricing-price-subtitle,
	h3.comment-reply-title,
	.pricing-table-style-2 .pricing-price-title {
		font-size: 5vw;
    }
    
	h2,
	.title-h2,
	.pricing-table-style-6 .pricing-price-title,
	h3.comment-reply-title {
		line-height: 6.2vw;
    }
    
    /* Fix "icon-with-title" overlapping on ipads (how-it-works & work-with-us below slider) */ 
    .gem-icon-with-title > .gem-icon-with-title-icon  {
        display: block;
    }
}

/* Adjust Product Page for Mobile Devices */
@media only screen and (max-width: 600px) {
    /* The name of the menus is repeated above and below the image, so the title (above) can be removed  */
    /*
    .single-product #page-title {
      display:none;
    }
    */
  
    /* Remove social sharing when in mobile*/
    .tct-socials-sharing {
      display:none;
    }

    /* reduce margin below menu images */
    div.single-product-content .gem-gallery {
        margin-bottom: 5%;
    }

    /* hide second menu name (h3) */
    .single-product-content .product_title {
        visibility:hidden;
        margin-bottom: 0 !important;
        margin-top: 0;
        font-size: 1px;
        line-height: 1px;
    }

    div.single-product-content-right /*.col-sm-6 col-xs-12 */ {
        margin-top:20px;
    }

    /* Not needed if Tabs are at the bottom (see wp-content\themes\thegem-child\tct_functions\tct_product_page_custom.php) */
  /* Remove Tabs (Product Reviews & More Menus) */ 
  /*
    #tab-reviews div {
      display: none;
    }
    #tab-more_seller_product div {
      display: none;
    }
    .single-product-content-left .socials-sharing {
      display: none;
    }
    .single-product-content-left .product-meta {
      display: none;
    }
    .single-product-content .single-product-content-left .gem-gallery {
      margin-bottom:0px;
    }
  */  
  }

  /* needed to show the product filters when in mobile hidden in ..\themes\thegem\css\thegem-woocommerce.css */
  @media (max-width: 768px) {
	.before-products-list {
		display: block;
	}
}
  
/* changes colors for Search result page */
/* copied from: */
body.search .page-title-block:before {
	background-color: var(--tct-brown);
}
body.search .page-title-block .highlight {
	color: var(--tct-orange);
}